PORT=4000
MONGO_URI=mongodb://miraiiengr48000_db_user:CKy2LRuTtd1Y2PwM@ac-7nximjt-shard-00-00.xcmiwwt.mongodb.net:27017,ac-7nximjt-shard-00-01.xcmiwwt.mongodb.net:27017,ac-7nximjt-shard-00-02.xcmiwwt.mongodb.net:27017/app-stock?ssl=true&replicaSet=atlas-oh44yd-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_moi_en_valeur_secrete_longue
JWT_EXPIRES_IN=7d
